:root {
	--ghostwhite: #EFF3F6;
	--white: #FFFFFF;
	--silver: #BDC0C2;
	--blue: #0E5A9E;
	--red: #A7002B;
	--green: #026726;
	--orange: #E8993E;
	--gold: #BBAA64;
	--purple: #441448;
	--deep-purple: #291E2A;
	--dry-purple: #4F3951;

	--bg: var(--ghostwhite);
	--text-color: var(--dry-purple);
	--heading-color: var(--deep-purple);

	--body-font: "Source Sans Pro", "Avenir Next", "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	--headings-font: "Source Serif Pro", "Source Serif", "Charter", "Constantia", Georgia, serif;
	--monospace-font: "Courier New", "Courier", "Inconsolata", monospace;
	--script-font: "Tillana", "Source Serif Pro", "Source Serif", Palatino, serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--body-font);
}

/* Layout */

body {
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--bg);
	color: var(--text-color);
	border: 4px solid var(--gold);
}

header,
main,
.container {
	width: 100%;
	max-width: 37.5em;
	margin: 0 auto;
	padding: 1em;
}

section {
	padding-bottom: 1em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: var(--headings-font);
	color: var(--heading-color);
}

h1,
.large-heading {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 0.25em;
}
h2 {
	font-size: 1.777778em;
	margin: 0;
}
h3 {
	margin-bottom: 0;
}

p {
	margin-top: 0;
}
p + h3 {
	margin-top: 1.5em;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--red);
}

a[href]:not(:hover) {
	text-decoration: none;
}

.sr-only,
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

ul {
	padding: 0;
	list-style: none;
}

small {
	font-size: 14px;
	font-family: var(--monospace-font);
}


/* Header Logo (style as h2) */
header > em {
	font-family: var(--headings-font);
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}
header > em a {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* Header Nav */
header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	font-weight: 700;
	text-decoration: underline;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid var(--silver);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

.client-list {
	columns: 2;
	column-gap: 1em;
	padding: 1em 0;
}
.client-list a {
	display: block;
	padding-bottom: 1em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
	vertical-align: text-top;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: .625em;
	padding: 0 .5em;
	line-height: 2em;
	height: 2em;
	border: 1px solid var(--white);
	background-color: var(--white);
	color: var(--blue);
	border-radius: .25em;
	text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
	display: grid;
	padding: 2em 0;
}

form label {
	display: none;
}

input,
textarea,
button {
	width: 100%;
	padding: 1em;
	margin-bottom: 1em;
	font-size: 1rem;
	font-family: var(--body-font);
}

input,
textarea {
	border: 1px solid #787878;
}

button {
	border: 1px solid var(--purple);
	border-radius: 0.25em;
	background-color: var(--purple);
	color: var(--white);
	cursor: pointer;
	font-family: var(--headings-font);
	font-weight: 700;
}
button:hover,
button:focus {
	border: 1px solid var(--deep-purple);
	background-color: var(--deep-purple);
}

blockquote {
	font-family: var(--script-font);
	font-size: 1.5em;
}


footer {
	background-color: var(--deep-purple);
	color: var(--ghostwhite);
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 1em 0;
	margin: 0 -4px -4px -4px;
}




/* responsive */
@media screen and (min-width:768px) {
	:root {
		font-size: 1.125rem;
	}
	body {
		border: 8px solid var(--gold);
	}

	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	header nav li {
		margin: 0 .5em;
	}

	h1,
	.large-heading {
		font-size: 3em;
		line-height: initial;
	}

	section {
	  padding: 2em 0;
  }

	.illustrated > svg {
		float: right;
		margin-left: 1em;
		margin-top: 1.5em;
	}

	.client-list {
		columns: 3;
	}

	footer {
		margin: 0 -8px -8px -8px;
	}

	footer .container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	ul {
		display: flex;
	}
	ul li:not(:last-child) {
		padding-right: 1em;
	}
}
