<div class="author">
  <p>Hi, my name is Brendan. I've been building websites for 10 years. I’m a hybrid designer and developer that enjoys teaching people like you how to design, code and think for themselves. Regardless of whether you're a complete beginner or you've been around the code block a few times, I’m certain I can help.</p>
  <p><a href="./contact">More about me</a></p>
</div>