<footer class="site-footer">
  <div class="container">
    {% include "components/nav.njk" %}
    <div class="footer-logo">
      {% include "components/script-logo.njk" %}
    </div>
  </div>
  <div class="container">
  <small>
    The online studio of Brendan Sparrow.<br />&copy; Brendan Sparrow 2009-2019. All rights reserved.
  </small>
  </div>
</footer>
