  <link rel="preconnect" href="//identity.netlify.com">
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>