
<ul>
  <li>
    <a class="site-link" href="https://www.twitter.com/brendansparrow" target="_blank" rel="me">Twitter</a>
  </li>
  <li>
    <a class="site-link" href="https://www.codepen.com/brendansparrow" target="_blank" rel="me">Codepen</a>
  </li>
  <li>
    <a class="site-link" href="https://www.github.com/brendansparrow" target="_blank" rel="me">Github</a>
  </li>
  <li>
    <a class="site-link" href="https://www.pinterest.com/brendansparrow" target="_blank" rel="me">Pinterest</a>
  </li>
  <li>
    <a class="site-link" href="https://www.instagram.com/btsparrow" target="_blank" rel="me">Instagram</a>
  </li>
  <li>
    <a class="site-link" href="https://www.letterboxd.com/brendansparrow" target="_blank" rel="me">Letterboxd</a>
  </li>
</ul>