
<ul>
  <li>
    <a class="site-link" href="https://www.twitter.com/brendansparrow" target="_blank" rel="noopener noreferrer">Twitter</a>
  </li>
  <li>
    <a class="site-link" href="https://www.codepen.com/brendansparrow" target="_blank" rel="noopener noreferrer">Codepen</a>
  </li>
  <li>
    <a class="site-link" href="https://www.github.com/brendansparrow" target="_blank" rel="noopener noreferrer">Github</a>
  </li>
  <li>
    <a class="site-link" href="https://www.pinterest.com/brendansparrow" target="_blank" rel="noopener noreferrer">Pinterest</a>
  </li>
  <li>
    <a class="site-link" href="https://www.instagram.com/btsparrow" target="_blank" rel="noopener noreferrer">Instagram</a>
  </li>
  <li>
    <a class="site-link" href="https://www.letterboxd.com/brendansparrow" target="_blank" rel="noopener noreferrer">Letterboxd</a>
  </li>
</ul>