<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<header class="site-header">
			<em>
				<a class="logo" href="{{ '/' | url }}">
        {% include "components/logo.njk" %}
				<span class="hidden">{{ metadata.title }}</span>
				</a>
        <a class="hidden" href="#maincontent">Skip to main content</a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main id="maincontent" class="main">
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

		{% include "components/scripts.njk" %}

	</body>

</html>
